<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<!--         <div class="pull-left image"> -->
		<!--             <img src="/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image" /> -->
		<!--         </div> -->
		<!--         <div class="pull-left info"> -->
		<!--             <p sec:authentication="principal.username"></p> -->
		<!--             <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
		<!--         </div> -->
	</div>
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu">
		<li class="header">Navegação</li>
		<li class="active treeview"><a href="#"> <i
				class="fa fa-files-o"></i> <span>Gestão</span> <span
				class="pull-right-container"> <i
					class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
			<ul class="treeview-menu">
				<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')"
					class="inactive"><a th:href="@{/contract/list}">
						<i class="fa fa-circle-o"></i> Contratos
				</a></li>
				<li class="inactive"><a> <i
						class="fa fa-circle-o"></i> Publicações
				</a></li>
<!-- 				<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')" -->
<!-- 					class="inactive"><a th:href="@{/insurance/history/view}"> -->
<!-- 						<i class="fa fa-circle-o"></i> Histórico Atividades -->
<!-- 				</a></li> -->
			</ul></li>
		<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')"
			class="treeview"><a href="#"> <i class="fa fa-users"></i> <span
				sec:authorize="hasAnyRole('ROLE_OWNER')">Usuário</span> <span
				sec:authorize="hasAnyRole('ROLE_ADMIN')">Influenciador</span> <span
				class="pull-right-container"> <i
					class="fa fa-angle-left pull-right"></i>
			</span>
		</a>
			<ul class="treeview-menu">
				<li><a th:href="@{/user/list}"> <i class="fa fa-circle-o"></i>
						Novo Acesso
				</a></li>
			</ul></li>
		<li class="treeview"><a href="#"> <i class="fa fa-sign-out"></i>
				<span>Sair</span> <span class="pull-right-container"> <span
					class="label label-primary pull-right"></span>
			</span>
		</a>
			<ul class="treeview-menu">
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">
						<i class="fa fa-circle-o"></i> Sair
				</a></li>
			</ul></li>
	</ul>
</section>
<!-- /.sidebar -->