<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="layout">
<head>
<title>Dashboard</title>
</head>
<body>
 <section layout:fragment="header">
  <h1 sec:authorize="hasAnyRole('ROLE_OWNER')">Admin</h1>
  <h1 sec:authorize="hasAnyRole('ROLE_ADMIN')">Influenciador</h1>

  <ol class="breadcrumb">
   <li>
    <a href="/">
     <i class="fa fa-dashboard"></i>
     Home
    </a>
   </li>
   <li class="active">Dashboard</li>
  </ol>
 </section>
 <div layout:fragment="content">
  <div class="row">
   <div class="col-xs-12">
    <div class="box">
     <div class="box-header">
      <h3 sec:authorize="hasAnyRole('ROLE_ADMIN')" class="box-title">Consultar Influenciador</h3>
      <h3 sec:authorize="hasAnyRole('ROLE_OWNER')" class="box-title">Consultar Admin</h3>

     </div>
     <!-- /.box-header -->
     <div class="box-body">
      <div class="box-footer center">
       <a th:href="@{/user/add}">
        <button type="button" class="btn btn-primary pull-right">
         <i class="fa fa-plus"></i>
         Adicionar
        </button>
       </a>
      </div>
      <div th:if="${param.success}">
       <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
         <i class="icon fa fa-check"></i>
         Sucesso!
        </h4>
        Informações salvas com sucesso.
       </div>
      </div>
      <div th:if="${param.deleted}">
       <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
         <i class="icon fa fa-check"></i>
         Deletado!
        </h4>
        Informação excluída com sucesso.
       </div>
      </div>
      <div class="row">
       <div class="col-sm-12">
        <table id="tableCustomer" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="tableCustomer_info">
         <thead class="thead">
          <tr>
           <th>ID</th>
           <th>Nome</th>
           <th>Perfil</th>
           <th>Ações</th>
          </tr>
         </thead>
         <tbody>
          <tr th:each="user : ${listUser}">
           <td th:text="${user.id}">ID</td>
           <td th:text="${user.name}">Nome</td>
           <td th:text="${user.roleName}">Perfil</td>
           <td>
            <a href="#" class="btn btn-primary btn-xs purple editView" title="Edit" th:href="@{'/user/edit/' + ${user.id}}">
             <i class="fa fa-edit"></i>
             Editar
            </a>
            <!-- 											 <a href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete" th:href="@{'/customer/delete/' + ${customer.id}}"><i class="fa fa-trash-o"></i> Delete</a></td> -->
          </tr>
         </tbody>
        </table>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>


 <th:block layout:fragment="script">
  <script>
			$(function() {
				$('#tableCustomer')
						.DataTable(
								{
									'paging' : true,
									'lengthChange' : true,
									'searching' : true,
									'ordering' : true,
									'info' : true,
									'autoWidth' : true,
									"language" : {
										"url" : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
									}
								})

				jQuery('tableCustomer_wrapper input').addClass(
						"form-control input-sm"); // modify table search input
			})
		</script>
 </th:block>
</body>
</html>
